/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0); /* Cor de fundo ciano */
}

.container {
    text-align: center;
}

.cronometro {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-bottom: 10px;
}

.tempo {
    font-size: 2em;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

/* Estilo para os botões (pode ser personalizado conforme necessário) */
button.iniciar {
    background-color: green;
    color: white;
    border: none;
}

button.parar {
    background-color: red;
    color: white;
    border: none;
}

button.zerar {
    background-color: gray;
    color: white;
    border: none;
}